<% provide(:title, @post.title) %>
<div class="row">
	<aside class="span9">
		<section class="span9">
			<span class="posttitle"><%= @post.title %></span>
			<span class="content">
				<!--custom upload-->
				<%= image_tag("/serve_image/#{@post.id}/#{@post.filename}", alt: 'image', :width => 100, :height => 150) if @post.filename? %>
				<!--<img src="/serve_image/<%=@post.id%>/<%=@post.filename%>">-->
				<%= simple_format @post.content %>
			</span>
			<span class="timestamp">
				<%= link_to gravatar_for(@post.user, size: 30), @post.user %> Posted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %> 
			</span>
		</section>
		<% if admin?(current_user) %>
			<%= link_to "edit", edit_post_path(@post), data: { confirm: "You sure?" }, title: @post.content %>
			<%= link_to "delete", @post, method: :delete, data: { confirm: "You sure?" }, title: @post.content %>
		<% end %>
		<section class="span9">
			<ol class="usercomments">
				<%= render @post.comments %>
			</ol>
		</section>
		<section class="span9">
			<% if signed_in?%>
				<%= render 'follow_form' %>
			<% end %>
		</section>
		<section class="span9">
			<% if signed_in?%>
				<%= render partial: "comments/form", locals: {post: @post} %>
			<% end %>
		</section>
	</aside>
	<aside class="span3">
		<section class="text-center">
			<% if @calendar.any? %>
				<%= render @calendar %>
			<% end %>
		</section>
	</aside>
</div>
